
<!-- ========== REVOLUTION SLIDER ========== -->
<div class="slider">
  <div id="rev-slider-1" class="rev_slider gradient-slider" style="display:none" data-version="5.4.5">
    <ul>
      {{#each homePage.banner}}
      <!-- SLIDE NR. 1 -->
      <li data-transition="crossfade">
        <!-- MAIN IMAGE -->
        <img src="/uploads/banner/{{this.banner}}" alt="Image" title="Image" data-bgposition="center center"
          data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina="">
        <!-- LAYER NR. 1 -->
        <h1 class="tp-caption tp-resizeme" data-x="center" data-hoffset="" data-y="320" data-voffset=""
          data-responsive_offset="on" data-fontsize="['80','50','40','30']" data-lineheight="['60','50','40','30']"
          data-whitespace="nowrap"
          data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
          style="z-index: 5; color: #fff; font-weight: 900;">
          TOUCH THE DREAM</h1>
        <!-- LAYER NR. 2 -->
        <div class="tp-caption tp-resizeme" data-x="center" data-hoffset="" data-y="410" data-voffset=""
          data-responsive_offset="on" data-fontsize="16" data-lineheight="16" data-whitespace="nowrap"
          data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
          style="z-index: 6; color: #fff;">Live Your Myth In Hotel Homy</div>
        <!-- LAYER NR. 3 -->
        <div class="tp-caption" data-x="center" data-hoffset="-120" data-y="480" data-voffset=""
          data-responsive_offset="on" data-whitespace="nowrap"
          data-frames='[{"delay":2400,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
          style="z-index: 11;">
          <a class="btn" href="/rooms">
            <i class="fa fa-calendar"></i>BOOK A ROOM NOW</a>
        </div>
        <!-- LAYER NR. 4 -->
        <div class="tp-caption" data-x="center" data-hoffset="128" data-y="480" data-voffset=""
          data-responsive_offset="on" data-whitespace="nowrap"
          data-frames='[{"delay":2400,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
          style="z-index: 11;">
          <a class="btn" href="/contact">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>CONTACT US NOW</a>
        </div>

        <!-- LAYER NR. 6 -->
        <div class="tp-caption tp_m_title tp-resizeme" data-x="center" data-hoffset="" data-y="240" data-voffset=""
          data-responsive_offset="on" data-fontsize="['25','25','18','18']" data-lineheight="['25','25','18','18']"
          data-whitespace="nowrap"
          data-frames='[{"delay":1800,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
          style="color: #fff">
          Star Luxury Hotel
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
  
</div>
<!-- ========== ABOUT ========== -->
<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="section-title">
          <h4 class="text-uppercase">Hotel Homy. since 2022</h4>
          <p class="section-subtitle">High quality accommodation services</p>
        </div>
        <div class="info-branding">
          <p>HOMY is a global platform that provides full-stack technology that boosts revenue and streamlines operations for
            small
            businesses and entrepreneurs who own hotels and residences. supplying reliable, inexpensive lodging that visitors can
            reserve right away.</p>
          <p>
            We strive to make the lives of our patrons easier by multiplying revenue channels and using our technological
            expertise
            to maximize demand.
          </p>
          
        </div>
      </div>
      <div class="col-lg-4">
        <div class="brand-info">
          <div class="inner">
            <div class="content">
              <img src="images/logo-big-transparent.png" width="100" alt="Image">
              <div class="stars">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </div>
              <h5 class="title">LUXURY HOTEL</h5>
              <p class="mt20">We strive to make the lives of our patrons easier by multiplying revenue channels and using our
                technological expertise to maximize demand.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ========== ROOMS ========== -->
<section class="rooms gray">
  <div class="container">
    <div class="section-title">
      <h4>OUR HOTELS</h4>
      <p class="section-subtitle">Our favorite Hotels</p>
      <a href="/hotels" class="view-all">View all Hotels</a>
    </div>
    <div class="row">
      <!-- ITEM -->
      {{#each homePage.hotel}}
      <div class="col-md-4">
        <div class="room-grid-item">
          <figure class="gradient-overlay-hover link-icon">
            <a href="/hotels/{{this._id}}">
              <div class="room-img" style="background-image: url(../uploads/{{this.image.[0]}});">
                {{!-- <img src="/uploads/rooms/{{this.image.[0]}}" class="img-fluid" alt="Image"
                  style="height: 100%;max-width: fit-content;"> --}}
              </div>
            </a>
            
            </figure>
            <div class="room-info">
              <h2 class="room-title">
                <a href="/hotels/{{this._id}}" class="text-heading">{{this.hotel_name}}</a>
                </h2>
              {{!-- <h6>Type : <strong>{{this.type}}</strong></h6> --}}
              <p class="text-description">{{this.description}}</p>
              </div>
              </div>
              </div>
            {{/each}}
    </div>
  </div>
</section>
<!-- ========== TESTIMONIALS ========== -->
<section class="testimonials">
  <div class="container">
    <div class="section-title">
      <h4>OUR GUESTS LOVE US</h4>
      <p class="section-subtitle">What our guests are saying about us</p>
    </div>
    <div class="owl-carousel testimonials-owl">
      <!-- ITEM -->
      <div class="item">
        <div class="testimonial-item">
          <div class="author-img">
            <img alt="Image" class="img-fluid" src="images/users/user1.jpg">
          </div>
          <div class="author">
            <h4 class="name">Betty Randal</h4>
            <div class="location">Madrid / Spain</div>
          </div>
          <div class="rating">
            <i class="fa fa-star voted" aria-hidden="true"></i>
            <i class="fa fa-star voted" aria-hidden="true"></i>
            <i class="fa fa-star voted" aria-hidden="true"></i>
            <i class="fa fa-star voted" aria-hidden="true"></i>
            <i class="fa fa-star voted" aria-hidden="true"></i>
          </div>
          <p>Consequat interdum varius sit amet mattis vulputate enim nulla. Posuere morbi leo urna molestie at elementum eu
            facilisis sed. Diam phasellus vestibulum lorem sed risus ultricies tristique.</p>
        </div>
      </div>
      <!-- ITEM -->
      <div class="item">
        <div class="testimonial-item">
          <div class="author-img">
            <img alt="Image" class="img-fluid" src="images/users/user2.jpg">
          </div>
          <div class="author">
            <h4 class="name">Brad Knight</h4>
            <div class="location">Athens / Greece</div>
            <div class="rating">
              <i class="fa fa-star voted" aria-hidden="true"></i>
              <i class="fa fa-star voted" aria-hidden="true"></i>
              <i class="fa fa-star voted" aria-hidden="true"></i>
              <i class="fa fa-star voted" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </div>
          </div>
          <p>Consequat interdum varius sit amet mattis vulputate enim nulla. Posuere morbi leo urna molestie at elementum eu
            facilisis sed. Diam phasellus vestibulum lorem sed risus ultricies tristique.</p>
          </div>
      </div>
      
    </div>
  </div>
</section>

