<div class="page-title gradient-overlay op6" style="background: url(https://preview.eagle-themes.com/html/himara/images/breadcrumb.jpg); background-repeat: no-repeat;
      background-size: cover;">
    <div class="container">
        <div class="inner">
            <h1>Hotels</h1>
            <ol class="breadcrumb">
                <li>
                    <a href="./">Home</a>
                </li>
                <li>Hotels</li>
            </ol>
        </div>
    </div>
</div>
<!-- ========== MAIN ========== -->
<main class="rooms-list-view">
    <div class="container">
        <!-- ITEM -->
        {{#each rooms}}
        <div class="room-list-item">
            <div class="row">
                <div class="col-lg-4">
                    <figure class="gradient-overlay-hover link-icon">
                        <img src="/uploads/rooms/{{this.image.[0]}}" class="img-fluid" alt="Image">
                    </figure>
                </div>
                <div class="col-lg-6">
                    <div class="room-info">
                        <h3 class="room-title text-heading text-capitalize"> {{this.type}} Room</h3>
                        {{!-- <span class="room-rates">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <a href="room.html#room-reviews">5.00 Based on 3 Ratings</a>
                        </span> --}}
                        <p class="text-description">{{this.description}}</p>
                        {{!-- <div class="room-services">
                            <i class="fa fa-coffee" data-toggle="popover" data-placement="top" data-trigger="hover"
                                data-content="Breakfast Included" data-original-title="Breakfast"></i>
                            <i class="fa fa-wifi" data-toggle="popover" data-placement="top" data-trigger="hover"
                                data-content="Free WiFi" data-original-title="WiFi"></i>
                            <i class="fa fa-television" data-toggle="popover" data-placement="top" data-trigger="hover"
                                data-content="Plasma TV with cable channels" data-original-title="TV"></i>
                            <span>Beds: 1 King</span>
                            <span>Max Guests: 2</span>
                        </div> --}}
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="room-price">
                        <a href="/remove-from-wishlist/{{this._id}}" class=""
                            style="position: absolute; top: 0; right: 30px;"> <i class="fa fa-close"
                                aria-hidden="true"></i></a>
                        <span class="price">₹{{this.salesprice}}</span>
                        <a href="/room/{{this._id}}" class="btn btn-sm">VIEW DETAILS</a>
                    </div>

                </div>
            </div>
        </div>
        {{/each}}

        <!-- PAGINATION -->
        {{!-- <nav class="pagination">
            <ul>
                <li class="prev-pagination">
                    <a href="#">
                        &nbsp;<i class="fa fa-angle-left"></i>
                        Previous &nbsp;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>...</li>
                <li>
                    <a href="#">7</a>
                </li>
                <li>
                    <a href="#">8</a>
                </li>
                <li>
                    <a href="#">9</a>
                </li>
                <li class="next_pagination">
                    <a href="#">
                        &nbsp; Next
                        <i class="fa fa-angle-right"></i>
                        &nbsp;
                    </a>
                </li>
            </ul>
        </nav> --}}
    </div>
</main>
<!-- ========== FOOTER ========== -->
